.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.form {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.results-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.graph {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.thumbnails {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.thumbnail-img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}
.div-with-graph-and-thumbnails{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
}